<?xml version="1.0"?>
<!--
/**
 * Redefining The Web
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Redefiningtheweb.com license that is
 * available through the world-wide-web at this URL: https://redefiningtheweb.com/LICENSE.txt
 *
 * DISCLAIMER
 *
 * @category    Rtw
 * @package     Rtw_Core
 * @copyright   Copyright (c) Rtw (https://redefiningtheweb.com/)
 * @license     https://redefiningtheweb.com/LICENSE.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Rtw_Core::Rtw" title="RTW"
             module="Rtw_Core" sortOrder="20"
             dependsOnModule="Rtw_Core" resource="Rtw_Core::Rtw"
        />

        <add id="Rtw_Core::rtwcore" title="RTW Core"
             translate="title" module="Rtw_Core"
             parent="Rtw_Core::Rtw" sortOrder="10"
             resource="Rtw_Core::rtwcore" />

        <add id="Rtw_Core::rtwconfig"
             title="Configurations" module="Rtw_Core"
             sortOrder="20" action="adminhtml/system_config/edit/section/rtwcore"
             resource="Rtw_Core::rtwconfig"
             parent="Rtw_Core::rtwcore"/>
    </menu>
</config>
