<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="rtwcore" translate="label" sortOrder="600">
            <label>RTW Modules</label>
        </tab>
        <section id="rtwcore" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="label" sortOrder="50">
            <label>RTW Core</label>
            <tab>rtwcore</tab>
            <resource>Rtw_Core::rtw_cofig</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20">
                <label>Core General Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
